*,
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: goldenrod;
    padding: 5rem 3rem;
    max-width: 80%;
    height: 100vh;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}